{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% include 'partials/alerts.html' %}
<style>
    a.page-link{
    border:2 px solid black;
    }
    .page-item active{
    color:black;
    border:2px solid black;
     }

</style>
 <div class="bg-white shadow w-35 my-2">
  <ul class="list-reset">
      {% for c in category %}


    <li >
      <a href="?category={{ c.id }}" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter border-r-4">{{ c.name }}</a>
    </li>
     {% endfor %}
  </ul>
</div>

  <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">

            <div class="flex flex-wrap -m-3">
                {% if product %}
                 {% for p in product %}

                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{ p.photo.url }}" height="200"
                        width="200">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Products you may like</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">{{ p.name }}</h2>
                        <p class="mt-1">Rs.{{ p.price }}</p>



						{% if p|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{p.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{p|cart_quantity:request.session.cart}} in Cart</div>
							<form action="" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{p.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>

                        {% else %}


                         <form action="" method="post">
                             {% csrf_token %}
                             <input type="hidden" name="product"  value="{{p.id}}">
                        <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-teal-500 border-0 py-2 px-4 focus:outline-none hover:bg-teal-600 rounded"><a href="#" type="submit" >Add to Cart</a></button>
                             <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-gray-500 border-0 py-2 px-4 focus:outline-none hover:bg-gray-600 rounded"><a href="{% url 'product_description' p.id %}">View Product</a></button>
                         </form>


                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
  </section>

{% endblock %}`